.sell_h1{
  font-size: 36px;
  margin-bottom: 14px;
}
.sell_h1_p{
  margin-bottom: 20px;
  font-size: 14px;
}
.sell_col_h3{
    color: cadetblue;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.sell_col_p{
  font-size: 14px;
}
p{
  margin: 0 0 10px;
}
.copyright {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  color: darkgray;
  font-weight: lighter;
  font-size: smaller;
}
.footer_top{
  color: #337ab7;
  font-size: 14px;
}
